@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato');

@font-face {
  font-family: 'BACKTO1982';
  src: url('./font/BACKTO1982.TTF');
}

@font-face {
  font-family: 'GmarketSans';
  src: url('./font/GmarketSansTTFMedium.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  word-break: keep-all;
}

#root {
  position: relative;
}