@font-face {
  font-family: 'AileronItalic';
  src: url('./font/Aileron-BlackItalic.otf');
}

@font-face {
  font-family: 'Aileron';
  src: url('./font/Aileron-Black.otf');
}

@font-face {
  font-family: 'GmarketSans';
  src: url('./font/GmarketSansTTFMedium.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  word-break: keep-all;
}

#root {
  position: relative;
}