@font-face {
  font-family: aileron;
  src: url('./font/Aileron-BlackItalic.otf');
}

:root {
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  word-break: keep-all;
}

#root {
  height: 100vh;
  overflow: hidden;
}